/* APP-WIDE STYLING ----- */

body {
  background-color: #f9f9f9;
  font-family: 'Source Sans Pro', sans-serif;
}

#app {
  background-color: white;
  max-width: 1450px;
  min-height: 750px;
  margin: auto auto auto auto;
}

hr {
  margin-top: 15px;
  width: 50%;
}

button {
  background-color: #39bfa0;
  /* background-color: #5693f7; */
  padding-top: 10px;
  padding-bottom: 10px;
  width: 175px;
  /* color: black; */
  color: white;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form {
  margin-top: 3em;
  font-weight: bold;
}

input {
  width: 70%;
  height: 30px;
  margin-top: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 23% auto;
  min-height: 950px;
}

.grid-item {
  /* height: 820px; */
  /* overflow: scroll; */
}

/* NAV STYLING ----- */

.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  border-bottom: 1px solid #f2f2f2;
}

.nav img {
  margin-top: 20px;
}

.directory {
  margin-left: 71%;
}

.directory span {
  text-align: right;
  padding-left: 20px;
  font-size: 18px;
}

.directory span:hover {
  color: #39bfa0;
  /* color: #5693f7; */
}

/* WELCOME PAGE STYLING ----- */

#welcome-div {
  min-height: 750px;
}

#welcome {
  background-color: #f9f9f9;
  color: #33312e;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 3em;
  padding-right: 3em;
  width: 550px;
  text-align: center;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* MEMORY LANE STYLING ----- */

#memory-lane {
  text-align: center;
  margin-top: 70px;
}

.memory-lane-cards {
  overflow: scroll;
  min-height: 300px;
  max-height: 800px;
}

#memory-lane p {
  font-style: italic;
  margin-top: 50px;
}

#photo-placeholder {
  width: 200px;
  height: 180px;
  margin: 15px auto 0px auto;
  position: relative;
  padding: 5px;
  opacity: 0.1;
}

#small-postcard-front {
  width: 250px;
  height: 160px;
  margin: 15px auto 0px auto;
  position: relative;
  background-color: #f9f9f9;
  padding: 5px;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Caveat', cursive;
  opacity: 0;
}

#small-postcard-front:hover img {
  opacity: 0.3;
}

#small-postcard-front:hover .text {
  opacity: 1;
}

/* JOURNAL CONTAINER STYLING ----- */

#journal-container {
  min-height: 1000px;
  margin-left: 10px;
  text-align: center;
}

#journal {
  margin-top: 70px;
  margin-bottom: 20px;
  /* margin-right: 40px; */
}

#journal-postcards {
  background-color: #f9f9f9;
  /* background-image: url('../src/images/paper1.png');
  background-repeat: no-repeat;
  background-size: 100%; */
  /* background-attachment: fixed; */
  /* background-position: center; */
  margin-right: 20px;
  margin-left: 40px;
  min-height: 800px;
  max-height: 800px;
  overflow: scroll;
}

/* #journal-postcards-background {
  background-color: #f9f9f9;
  min-height: 800px;
  max-height: 800px;
  width: 970px;
  margin-left: 110px;
} */

.four-grid-container {
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 30px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
}

/* POSTCARD SHOW STYLING ----- */

#return {
  margin-top: 10px;
}

#return:hover {
  opacity: 0.8;
}

#postcard-show {
  background-color: #f9f9f9;
  /* background-image: url('../src/images/paper1.png');
  background-repeat: no-repeat;
  background-size: 100%; */
  margin-right: 20px;
  height: 800px;
}

.postcard-show-thumbnails {
  padding-top: 30px;
  display: grid;
  grid-template-columns: auto auto;
  margin: 0px auto 0px auto;
  width: 50%;
}

#small-postcard-front-show {
  height: 160px;
  width: 250px;
  margin: 10px auto 0px auto;
  position: relative;
  background-color: #f9f9f9;
  padding: 5px;
}

#small-postcard-front-show:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#small-postcard-back {
  background-image: url('./images/postcard-template.jpg');
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: cover;
  height: 168px;
  width: 260px;
  margin: 10px;
  /* margin: 10px auto 0px auto; */
  border-bottom: 1px solid black;
  position: relative;
  font-size: 8px;
}

#small-postcard-back:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#message {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 5%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#location {
  position: absolute;
  width: 50%;
  top: 0%;
  left: 3%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#name {
  position: absolute;
  width: 50%;
  top: 47%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#address {
  position: absolute;
  width: 50%;
  top: 56%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#city-state-zip {
  position: absolute;
  width: 50%;
  top: 65%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#date {
  position: absolute;
  width: 50%;
  top: 87%;
  left: 84%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#large-postcard-front {
  height: 480px;
  width: 750px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 35px auto;
  background-color: #f9f9f9;
  padding: 5px;
}

#large-postcard-back {
  background-image: url('./images/postcard-template.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  width: 750px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 35px auto;
  border-bottom: 3px solid black;
  font-size: 24px;
}

/* NEW JOURNAL/POSTCARD FORM STYLING ----- */

#new-journal {
  margin-top: 70px;
}

.create-form {
  background-color: #f9f9f9;
  padding: 20px 100px 50px 100px;
  margin: 100px auto;
  width: 500px;
  text-align: left;
}

.create-form h2 {
  text-align: center;
  margin-bottom: 50px;
}

.create-form button {
  margin-left: 35%;
  margin-right: auto;
}

.create-form input {
  margin-bottom: 20px;
  margin-left: 35px;
  width: 90%;
}

#file {
  font-size: 16px;
  margin: 0 0 20px 0;
  width: 80%;
  font-weight: bold;
}

textarea {
  width: 90%;
  height: 150px;
  font-size: 15px;
  resize: none;
  margin: 10px 0 20px 35px;
}

.number-icon {
  margin-right: 10px;
}

#new-postcard {
  margin-top: 20px;
}

.two-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  margin-left: 60px;
  width: 90%;
}

.two-grid-container h2 {
  margin: 50px 0 0 20px;
}

#profile-container {
  margin-top: 5px;
}

.profile {
  /* height: 700px; */
  padding-top: 10px;
  font-size: 20px;
}

.profile-details {
  background-color: #f9f9f9;
  height: 745px;
  margin-left: 10px;
  padding: 35px 0 0 10px;
  width: 450px;
  display: grid;
  grid-template-columns: 110px auto;
}

#profile-headers {
  font-weight: bold;
}

#edit-user {
  margin-top: 5px;
}

#edit-user input {
  height: 28px;
  margin-left: 10px;
}

.journal-index {
  background-color: #f9f9f9;
  height: 780px;
  margin-left: 20px;
  padding-left: 10px;
  width: 450px;
  overflow: scroll;
}

.index-button {
  border-radius: 50px;
  width: 250px;
}

.edit-button {
  padding-left: 10px;
}

.edit-button:hover {
  opacity: 0.5;
}

.save-button {
  margin-left: 10px;
  margin-right: 5px;
}

.save-button:hover {
  background-color: #39bfa0;
  /* background-color: #5693f7; */
  border-radius: 50px;
}

.back-button:hover {
  background-color: #39bfa0;
  /* background-color: #5693f7; */
  border-radius: 50px;
}
