/* APP-WIDE STYLING ----- */

body {
    background-image: url('./images/art-clothes-pin-blue-tint.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

button {
  background-color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 175px;
  color: #53b2a8;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #7eddd1;
  color: white;
}

form {
  margin-top: 3em;
}

input {
  width: 65%;
  height: 30px;
  margin-top: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% auto;
}

.grid-item {
  background-color: #f9f9f9;
  color: #33312e;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-left: 27%; */
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  height: 820px;
  overflow: scroll;
}

/* NAV STYLING ----- */

.nav {
  background-color: #f9f9f9;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

nav a {
  margin-left: 5px;
  margin-right: 15px;
  color: #33312e;
  font-weight: bold;
}

nav a:link {
  text-decoration: none;
  color: #33312e;
  font-weight: bold;
}

nav a:hover {
  color: #53b2a8;
}

/* WELCOME PAGE STYLING ----- */

#welcome {
  background-color: #f9f9f9;
  color: #33312e;
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 3em;
  padding-right: 3em;
  width: 550px;
  text-align: center;
  margin-top: 7em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* MEMORY LANE STYLING ----- */

#memory-lane {
  margin-left: 20px;
  margin-right: 10px;
  background-color: #bac1c1;
}

.grid-item h3 {
  text-align: center;
}

#small-postcard-front {
  width: 250px;
  height: 160px;
  margin: 15px auto 0px auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Caveat', cursive;
  opacity: 0;
}

#small-postcard-front:hover img {
  opacity: 0.3;
}

#small-postcard-front:hover .text {
  opacity: 1;
}

/* JOURNAL CONTAINER STYLING ----- */

#journal-container {
  margin-left: 10px;
  margin-right: 20px;
  text-align: center;
}

#current-journal-label {
  background-color: #7eddd1;
  width: 15%;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#journal {
  margin-top: 70px;
  margin-bottom: 20px;
}

hr {
  margin-top: 15px;
  width: 98%;
}

.four-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

/* POSTCARD SHOW STYLING ----- */

.two-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 50px auto 0px auto;
  width: 50%;
}

#small-postcard-front-show {
  height: 160px;
  width: 250px;
  /* margin-left: 30%; */
  margin: 5px auto 0px auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#small-postcard-front-show:hover {
  box-shadow: 0 24px 40px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#small-postcard-back {
  background-image: url('./images/postcard-template.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 160px;
  width: 250px;
  /* margin-left: 20px;; */
  margin: 5px auto 0px auto;
  border-bottom: 1px solid black;
  position: relative;
  font-size: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#small-postcard-back:hover {
  box-shadow: 0 24px 40px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#message {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 5%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#location {
  position: absolute;
  width: 50%;
  top: 0%;
  left: 3%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#name {
  position: absolute;
  width: 50%;
  top: 47%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#address {
  position: absolute;
  width: 50%;
  top: 55%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#city-state-zip {
  position: absolute;
  width: 50%;
  top: 65%;
  left: 65%;
  font-family: 'Caveat', cursive;
  text-align: left;
}

#large-postcard-front {
  height: 480px;
  width: 750px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 35px auto;
}

#large-postcard-back {
  background-image: url('./images/postcard-template.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  width: 750px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 35px auto;
  border-bottom: 3px solid black;
  font-size: 24px;
}
